:root {
    --main-color: #2e98bf;
    --secondary-color: #9dc5d4;
    --space-padding: 8px;
    --space-margin: 8px;
    --light: #d9dee2;
    --dark: #181c1c;
    --font-family: 'EB Garamond', serif;
}

.experience {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}


.year {
    background-color: deeppink;


}

.experiences{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    margin-top:64px;
}
.job{
    background-color: cyan;

}

.company{
    background-color: chartreuse;

}

.description{
    background-color: orangered;
}