:root {
    --main-color: #2e98bf;
    --secondary-color: #9dc5d4;
    --space-padding: 8px;
    --space-padding2: 16px;
    --space-margin: 8px;
    --light: #d9dee2;
    --dark: #181c1c;
    --font-family: 'EB Garamond', serif;
}

body {
    margin: 0;
    background-color: var(--secondary-color);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--main-color);
    position: fixed;
    top: 0;
    width: 100vw;
    font-family: var(--font-family);
}

.home img {
    height: 60px;
    width: 60px;
    padding-left: var(--space-padding2);
}

.menu-items  {
    display: flex;
    align-items: center;
    height: 76px;
    font-size: 24px;
}

.items {
    display: flex;
    align-items: center;
    height: 100%;
}

nav a {
    display: inline-block;
    margin: 0;
    padding: var(--space-padding);
    text-decoration: none;
    color: var(--dark);
}

nav a:hover {
    background-color: #a3819a;
    display: flex;
    align-items: center;
    height: 80%;
}

.burger {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    height: 40px;
}

.burger div {
    height: 8px;
    width: 40px;
    background-color: var(--dark);
    border-radius: 8px;
}

.close, a.home-burger, .nav-nom h2 {
    display: none;
}

@media screen and (max-width: 600px) {
    .items {
        display: none;
    }

    .nav-nom h2, .burger {
        display: flex;
    }

    a.home-burger {
        display: block;
    }

    a.home-burger img {
        height: 80px;
        width: 80px;
        padding-top: var(--space-padding2);
    }

    .items:target {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 100vw;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        background-color: var(--main-color);
        font-size: 24px;
    }

    .items:target .close {
        display: block;
        position: fixed;
        top: 8px;
        right: 8px;
        font-size: 24px;
    }
}
