:root {
    --main-color: #2e98bf;
    --secondary-color: #9dc5d4;
    --space-padding: 8px;
    --space-margin: 8px;
    --light: #d9dee2;
    --dark: #181c1c;
    --font-family: 'EB Garamond', serif;
}
*{
    background-color: var(--secondary-color);
    color:var(--dark);
}
.experience{
    display:flex;
    flex-flow:row wrap;
    border-bottom:1px solid;
    padding-bottom : 10px;
    margin-botoom:10px;
}
.experiences{
    display:flex;
    flex-flow:column wrap;
    flex: 0 0 70%;
    margin-left: auto;
}
.year{
    flex:0 0 20%;
    font-family: var(--font-family);
    font-size: 40px;
}
.description{
    display:flex;
    flex-flow:column wrap;
    flex:0 0 70%;
    margin-left: auto;
    font-family: var(--font-family);
}

.job{
    font-family: var(--font-family);
    font-size: 24px;
}
.company{
    font-family: var(--font-family);
    font-size: 24px;

}